<html>
<head>
	<title>New Question</title>
</head>
<body>

<h1> New Question </h1>
	<form method = 'POST' action = '/questions'>
		<p>Submit your question: <br>
		<input type="text" name="question"> 
		</p>
		<br>
		<input type="submit">
	</form>


</body>
</html>



